<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="kz.almaty.spring.dao.QuestionDaoSimple">
        <constructor-arg index="0" value="storage.csv"/>
    </bean>

    <bean id="questionService" class="kz.almaty.spring.service.QuestionServiceImpl">
        <constructor-arg index="0" ref="questionDao"/>
    </bean>

    <bean id="applicationRunner" class="kz.almaty.spring.service.ApplicationRunner">
        <constructor-arg index="0" ref="questionService"/>
    </bean>

</beans>
