<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileDao" class="kz.almaty.spring.dao.FileDaoSimple">
    </bean>

    <bean id="fileService" class="kz.almaty.spring.service.FileServiceImpl">
        <constructor-arg index="0" ref="fileDao"/>
        <constructor-arg index="1" value="storage.csv"/>
    </bean>

</beans>
